/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./app/animations/PreLoader/preloader.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.preloader {
  height: 100vh;
  width: 100%;
  background: #0e1016;
  color: #e4ded7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.preloader .texts-container {
  height: 60px;
}

